footer {
  background-color: black;
  color: white;
  padding: 1.25rem;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;

  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;

  p {
    text-align: center;
  }
}
