footer {
  background-color: rgb(44, 132, 154);
  color: white;
  width: 100%;
  border-top: 2px solid rgb(11, 99, 121);
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;

  text-align: center;
}
