.crear-profe {
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: 5px solid rgb(71, 106, 139);
  background-color: rgba(71, 106, 139, 0.8);

  margin-left: 600px;
  margin-right: 600px;
  margin-top: 10px;
  padding-bottom: 10px;

  h2 {
    color: white;
    text-decoration: underline;
  }

  button {
    text-align: center;
    position: relative;
    left: 35%;
  }

  form {
    width: 700px;

    div {
      margin: 32px 0;

      textarea,
      input {
        width: 100%;
      }

      label {
        width: 10ch;
        color: whitesmoke;
      }
    }
  }
}
