.Wrap {
  text-align: center;
  border: 5px solid rgb(71, 106, 139);
  background-color: rgba(71, 106, 139, 0.8);
  color: whitesmoke;
  margin-left: 600px;
  margin-right: 600px;
  margin-top: 10px;
}

.VcButton {
  margin-bottom: 16px;
  color: white;
  background: #5900ff;
  border: 1px solid #556699;
  border-radius: 11px;
  box-shadow: 0 1px #444444;
  padding: 20px 45px;
  display: inline-block;
  font: normal bold 26px/1 'Open Sans', sans-serif;
  text-align: center;
  text-shadow: 1px 1px #000000;
  align-content: center;
  text-decoration: none;
}
