body {
  background: url('../images/58.jpg');
  font-size: 100%;
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
}

img {
  width: 265px;
  height: 265px;
  border: 1px solid black;
}
