body {
  background: url('../images/58.jpg');
  font-size: 100%;
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
}
