.Nombre {
  font-size: 2rem;
  text-decoration: underline;
  border: 5px solid rgb(71, 106, 139);
  background-color: rgba(71, 106, 139, 0.85);
  color: whitesmoke;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.Coche {
  width: 300px;
}
.Cliente {
  width: 300px;
}
.Empleado {
  width: 350px;
}
.Tienda {
  width: 425px;
}
.Compra {
  width: 300px;
}

.Wrapper-flex-profes {
  display: flex;
  align-items: center;
  justify-content: center;

  .lista-profes-container {
    min-width: 998px;
    display: grid;
    list-style: none;

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    position: relative;
    top: 20px;

    .lista-profe {
      background-color: rgb(237, 233, 233);
      border: solid 1px black;
      padding: 5%;
      border-radius: 8px;
      box-shadow: 0 2px 4px #333;

      h2 {
        text-decoration: underline;
      }
    }
  }
}
