@import 'normalize';
@import 'global';
@import 'home';
@import 'footer';
@import 'header';
@import 'formteacher';
@import 'course';
@import 'teacher';
@import 'page';

.App {
  position: relative;
}

// Boton
.btn {
  color: #ffffff;
  border: 1px solid #011c00;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
  vertical-align: middle;
}

.warning {
  background-color: rgb(121, 121, 2);
  position: relative;
  right: 5px;
}

.danger {
  background-color: rgb(124, 0, 0);
  position: relative;
  left: 5px;
}
